.country img{
width: 286px;
height: 286px;
border:1px solid yellowgreen;
}
.country{
    width:300px;
    height:510px;
    margin: 7px;
    border:1px solid seagreen;
    position: relative;
}
.country-name{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
.country-info{
    margin: 14px;
}
.btn-list{
    width: 100%;
    background-color: bisque;
    border:0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.btn-list .btn-text{
   margin-right: 10px; 
}
.btn-list:hover{
    background-color: orange;
}